#root {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.x-link {
  margin: 0 0 10vh 10vh;
}

.x-icon {
  width: 15vh;
  height: 15vh;
}

.tg-link {
  margin: 0 10vh 10vh 0;
}

.tg-icon {
  width: 20vh;
  height: 20vh;
}
