#root {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

html {
  font-size: calc(100vh / 1080);
}

body {
  overflow: hidden;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 25vh;
}

.background {
  background-image: url('/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 500rem;
  height: 100%;
  margin: 0 auto;
}

.links {
  padding-top: 3vh;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.x-icon {
  width: 150rem;
  height: 150rem;
}

.tg-icon {
  width: 150rem;
  height: 150rem;
}

.center-icon {
  height: 140rem;
  width: 500rem;
}

.animated {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
}

.baby {
  width: 100rem;
  position: absolute;
  top: 49%;
  right: 120rem;
  transform: translate(0);
  will-change: transform;
}

@keyframes drop {
  to {
    transform: translateY(100vh);
  }
}

.baby-hover {
  animation: drop 2s ease-in-out forwards;
}

.jeeted {
  width: 160rem;
  position: absolute;
  right: 80rem;
  top: 32%;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  will-change: opacity;
  transform: rotate(45deg);
}

.jeeted.visible {
  opacity: 1;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .tg-link {
    position: absolute;
    left: 60rem;
    top: 140rem;
  }

  .x-link {
    position: absolute;
    right: 60rem;
    top: 140rem;
  }
}
